<%= link_to("<< Back to List", isp_shifts_path, :class => 'back-link') %>

<div class="isp_shifts edit">
  <h2>Correct A Shift</h2>

  <%= form_for(@isp_shift) do |f| %>

    <%= render(:partial =>'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Correct A Shift") %>
    </div>

  <% end %>
</div>
